<div class="form">
    <%= form_with( model:[recipe, comment],remote: true)  do |f| %>
      <div><%= f.label t('view.comment') %></div>
      <div><%= f.text_area :content %></div>
      <div><%= f.submit %></div>
    <% end %>
</div>
