
<%= form_with(model:[recipe, comment])  do |f| %>
<table>
  <tr><th><%= f.label :comment %></th></tr>
  <tr><td><%= f.text_area :content %></td></tr>
  <tr><td><%= f.submit %></td></tr>
</table>
  <% end %>
