<div class="container">
  <div class="shop_new">
    <h2><%= t('shop.name') %>уБо<%= t('view.edit') %></h2>
          <%= render 'form' %>
    </div>
    <div class="shop"><%= link_to t('view.back'), shops_path %></div>
</div>
