<div class="container">
  <h2><%= t('recipe.new')%></h2>
  <% if @recipe.errors.any? %>
      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
    <%= render 'form' %>
</div>
