/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap/dist/css/bootstrap.min
 *= require_self
 */
html{


}
/* , a:hover */
a, a:visited, a:focus{
    text-decoration: none;
    color:black;
}

 body{
   /* background-color: #ffff; */
 }


 header{
   margin-top:0px;
   width:100%;
   height: 60px;
   /* background-color: #ef6019e0; */
   font:white;
   border-bottom: solid 1px #d2c8be;
 }


 nav li{
    color: black;
   color: black;
   float: left;
   line-height: 30px;
   text-align: center;
   margin: 15px 0 10px 10px;
 }

 li {
     list-style: none;
 }

.search{
   float: right;
   margin-right: 50px;
 }
.search li{
  float: left;
}

 #new_button{
   width: 100px;
   background: #f75a0c;
   border: solid 1px #d2c8be;
   border-radius: 15px;
   text-align: center;
   display: block;
 }
