/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap/dist/css/bootstrap.min
 *= require_self
 */
html{
  font-size: 100%;
}
/* , a:hover */

 body{
  font-size: 1rem;
  display: block;
  background-color: #fff;
  font-family: "メイリオ";
  color: #595960;
 }

 a, a:visited, a:focus{
   text-decoration: none;
   color: #333333;
 }


 #logo{
  margin: 10px 0 10px 12px;
  padding: 5px 5px 5px 5px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Helvetica Neue" , Helvetica ;
  border:solid 4px #FFD700;
 }


 header{
   margin-top:0px;
   font-size: 0.9rem;
   width:100%;
   height: 60px;
   background-color: #fff;
   border-bottom: solid 4px #FFD700;
 }


 nav li{
   list-style: none;
   float: left;
   text-align: center;
   margin: 20px 0 10px 10px;
 }



 #new_button{
   width: 100px;
   background: #f75a0c;
   border: solid 1px #d2c8be;
   border-radius: 15px;
   text-align: center;
   display: block;
 }
