

// レシピ一覧
.recipe_box{
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
  background-color: #fff;
  float: left;
  height: 400px;
  width: 300px;
  margin: 10px 10px;
  color: rgb(70, 70, 70);
}

.recipe_box:hover{
  transition: 1s ;
  opacity: 0.5;
}

.picture{
  width:auto;
  background-color: rgb(212, 212, 212);
  text-align: center;
  line-height: 250px;
  vertical-align: middle;
  object-fit: cover;
  border-bottom: 5px solid rgb(255, 168, 6);
}

.recipe_inf ul{
  width: auto;
  height: 150px;
  padding-top: 0;
  padding-left: 0;
  list-style: none;
  text-align: left;
}

#inf_1{
  margin-top: 10px;
  height: 90px;
  text-align: center;
  font-weight: bold;
}

#inf_2{
  margin-bottom: 0;
  text-align: center;
}

// #search{
//   list-style: none;
//   font-size: 0.7rem;
//   font-weight: bold;
//   padding-bottom: 0px;
// }


// 投稿画面
textarea{
  resize: none;
  word-wrap: break-word;
}

.content{
  margin-bottom: 50px;
  height: 100%;
}

.data textarea{
  width: 400px;
  height: 100px;
}

.subject{
  clear: both;
  width: fit-content;
  padding: 0px 10px ;
  height: 33px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: rgb(255, 168, 6);
  border: 1px solid rgb(255, 168, 6);
  margin: 10px 20px 20px 0px; 
  float: left;
}

.add{
 float: left;
 margin-left: 20px;
}

.data{
  clear: left;
}

.error{
  float: left;
  margin-right: 30px;
  color: rgb(70, 70, 70);
  font-weight: bold;
}


#material{
  width: auto;
  margin: 5px 5px;
  float: left;
  
}

#m_name input[type="text"]{
  width: 300px;
  line-height: 30px;
}

#m_amount input[type="text"]{
  width: 170px;
  line-height: 30px;
}


#flow {
  counter-increment: number 1;
}

#d_btn{
  margin-left: 20px;
}

#submit{
  float: right;
  margin-right: 50px;
}

// レシピ詳細
.recipe_box_show{
  clear: left;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
  background-color: #fff;
  float: left;
  width: 300px;
  margin: 0px 10px 20px 10px;
  color: rgb(70, 70, 70);
}

#table_show{
  height: 200px;
  text-align: left;
  float: left;
  margin-left: 20px;
}

.data_show{
  margin-top: 70px;
}

#table_show td{
  margin-left: 20px;
}

#content_show{
  margin-left: 20px;
  float: left;
  height: 90px;  
}
.picture_show{
  display: block;
  width: 300px;
  background-color: rgb(212, 212, 212);
  text-align: center;
  line-height: 250px;
  vertical-align: middle;
  object-fit: cover;
}

.material_show{
  clear: left;
}

.flow_show{
  float: left;
  margin: 10px;
  display: inline-block;
}

#flow_content{
  width: 300px;
  height: 200px;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 3%;
  padding: 20px;
  word-wrap: break-word;
}





