

// 一覧
.recipe_box{
  width:200px;
  height: 350px;
  border: solid 1px #C0C0C0;
  background-color: white;
  margin: 10px 20px 20px  0px;
  float: left;
  display: static;
}

.picture{
  position: relative;
  top: 4px;
  left: 4px;
  width:190px;
  height: 190px;
  background-color: grey;
  border: none;
}

.recipe_inf{
  height: 100px;
  line-height: 25px;
  margin-top: 4px;
  margin-left: 5px;
  float: left;
}

.recipe_tbl{
  width: 180px;
  position: static;
  font-size: 0.7rem;
  line-height: 25px;
  margin-left: 5px;
}

.recipe_tbl tr{
border-bottom: solid 1px #FFD700;
vertical-align: middle;
}

.recipe_tbl td{
  font-size: 0.8rem;
  text-align:center;
  padding-left: 10px;
}

#button{
  font-size: 0.7rem;
  font-weight: bold;
  width: 100px;
  margin-left: 50px;
  margin-top: 10px;
  background: #fff;
  border: solid 1px #d2c8be;
  border-radius: 15px;
  text-align: center;
  display: block;
}


.submit{
  width: 100%;
}



// 投稿画面

.new_material{
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
}

// ユーザー
.new_flow{
  float:left;
  clear: both;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
