

// 一覧

.recipe_box{
  width:200px;
  height: 350px;
  border: solid 1px #d2c8be;
  background-color: white;
  margin-right: 10px;
  margin-bottom: 50px;
  float: left;
  display: static;
}

.picture{
  position: relative;
  top: 4px;
  left: 4px;
  width:190px;
  height: 190px;
  background-color: grey;
  border: none;
}


.submit{
  width: 100%;
}

.recipe_info{
  height: 100px;
  line-height: 25px;
  margin-top: 4px;
  margin-left: 5px;
  float: left;
}

// 投稿画面

.new_material{
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
}

// ?ユーザー
.new_flow{
  float:left;
  clear: both;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}


// #button{
//   width: 100px;
//   margin-left: 50px;
//   background: #f9f3eb;
//   border: solid 1px #d2c8be;
//   border-radius: 15px;
//   text-align: center;
//   display: block;
// }
