// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shop_tbl{
  display: flexbox;
  text-align: center;
  line-height: 30px;
}

.shop_tbl th{
background-color:  #C0C0C0;
}

.shop_tbl td{
border-bottom: solid 1px;
}

#search a:link, #search a:visited{
  border: solid 1px black;
  padding: 5px 10px;
  margin-right: 50px;
  text-decoration: none;
  color:rgb(70, 70, 70);
  font-weight: bold;
}

#search a:hover {
background-color: rgb(255, 168, 6);
}


.shop a:link, .shop a:visited{
  text-decoration: none;
  color:rgb(70, 70, 70)
}